<!DOCTYPE html>
<html>
  <head>
    <!-- Importing various CSS files. CSS are files that add to the style of the page. -->
    <style>
      @import url("https://nea-website-al.thesatisback.repl.co/css/styles.css");
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
      @import url("https://nea-website-al.thesatisback.repl.co/css/MainButtons.css");

      table, th, td {
        border:1px solid black;
        font-family: 'Ubuntu', sans-serif;
      }
    </style>
    <title>Saatvik Kambhampati</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
  </head>

  <body>
    <div>
      <!-- Buttons that appear on the top-left of almost all the pages. -->
      <a href = "/leaderboard" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Leaderboard</a>
      <a href = "/dashboard" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Dashboard</a>
      <a href = "/logout" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">LOG OUT</a>
      <a href = "/about" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">About</a>
    </div>
    <div>
      <br/>
      <h2><u>Leaderboards</u></h2>
      <!-- Here, the same thing is being done as in `dashboard.ejs`, but the difference is that we are not checking for who owns the game,
      but rather what difficulty the game is. Depending on the difficulty of the game, we sort it into the correct table.
      There is one table per difficulty. -->
      <!-- EASY -->
      <div>
      <br/>
        <h3>Difficulty: "Easy"</h3>
        <table style="width:20%;">
          <tr>
            <td><b><i>Rank</i></b></td>
            <td><b><i>Game ID</i></b></td>
            <td><b><i>Score</i></b></td>
            <td><b><i>Username</i></b></td>
          </tr>
          <% let RankCounter = 1; %>
          <% for(let i = 0; i < data.length; i++) { %>
              <% if(data[i]["difficulty"] == "Easy") { %>
                  <tr>
                    <td><b><%= RankCounter %></b></td>
                    <td><%= data[i]["GameID"] %></td>
                    <td><%= data[i]["score"] %></td>
                    <td><%= data[i]["username"] %></td>
                  </tr>
                  <% RankCounter++; %>
              <% } %>
          <% } %>
        </table>
      </div>


      <!-- CASUAL/NORMAL -->
      <div>
      <br/>
        <h3>Difficulty: "Casual/Normal"</h3>
        <table style="width:20%;">
          <tr>
            <td><b><i>Rank</i></b></td>
            <td><b><i>Game ID</i></b></td>
            <td><b><i>Score</i></b></td>
            <td><b><i>Username</i></b></td>
          </tr>
          <% RankCounter = 1; %>
          <% for(let i = 0; i < data.length; i++) { %>
              <% if(data[i]["difficulty"] == "Casual/Normal") { %>
                  <tr>
                    <td><b><%= RankCounter %></b></td>
                    <td><%= data[i]["GameID"] %></td>
                    <td><%= data[i]["score"] %></td>
                    <td><%= data[i]["username"] %></td>
                  </tr>
                  <% RankCounter++; %>
              <% } %>
          <% } %>
        </table>
      </div>


      <!-- MEDIUM -->
      <div>
      <br/>
        <h3>Difficulty: "Medium"</h3>
        <table style="width:20%;">
          <tr>
            <td><b><i>Rank</i></b></td>
            <td><b><i>Game ID</i></b></td>
            <td><b><i>Score</i></b></td>
            <td><b><i>Username</i></b></td>
          </tr>
          <% RankCounter = 1; %>
          <% for(let i = 0; i < data.length; i++) { %>
              <% if(data[i]["difficulty"] == "Medium") { %>
                  <tr>
                    <td><b><%= RankCounter %></b></td>
                    <td><%= data[i]["GameID"] %></td>
                    <td><%= data[i]["score"] %></td>
                    <td><%= data[i]["username"] %></td>
                  </tr>
                  <% RankCounter++; %>
              <% } %>
          <% } %>
        </table>
      </div>


      <!-- Hard -->
      <div>
      <br/>
        <h3>Difficulty: "Hard"</h3>
        <table style="width:20%;">
          <tr>
            <td><b><i>Rank</i></b></td>
            <td><b><i>Game ID</i></b></td>
            <td><b><i>Score</i></b></td>
            <td><b><i>Username</i></b></td>
          </tr>
          <% RankCounter = 1; %>
          <% for(let i = 0; i < data.length; i++) { %>
              <% if(data[i]["difficulty"] == "Hard") { %>
                  <tr>
                    <td><b><%= RankCounter %></b></td>
                    <td><%= data[i]["GameID"] %></td>
                    <td><%= data[i]["score"] %></td>
                    <td><%= data[i]["username"] %></td>
                  </tr>
                  <% RankCounter++; %>
              <% } %>
          <% } %>
        </table>
      </div>
    </div>
  </body>
</html>